<div class="pacientes-container">
  <h1>Pacientes</h1>

  <div class="acciones">
    <button mat-raised-button color="primary" (click)="agregarPaciente()">
      <mat-icon>add</mat-icon>
      Agregar Paciente
    </button>
  </div>

  <mat-form-field appearance="outline" class="buscador">
    <mat-label>Buscar</mat-label>
    <input
      matInput
      (keyup)="aplicarFiltro($event)"
      placeholder="Filtrar paciente"
    />
  </mat-form-field>

  <div class="tabla-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="tabla">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.apellido }}</td>
      </ng-container>

      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef>DNI</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.dni }}</td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.telefono }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.email }}</td>
      </ng-container> -->

      <ng-container matColumnDef="obraSocial">
        <th mat-header-cell *matHeaderCellDef>Obra Social</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.obraSocial }}</td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let paciente">
          <div class="botones-opciones">
            <button mat-button color="accent" (click)="editarPaciente(paciente)">Editar</button>
            <button mat-button color="warn" (click)="borrarPaciente(paciente.id)">Borrar</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
</div>
