.empleados-container {


}

.empleados-panel {

}

.boton-agregar {
  display: flex;
  
}

.icono-boton {
  margin-right: 0.5rem;
}

.buscador {
  padding: 10px;
  width: 99%;
}

.tabla-contenedor {
  width: 100%;
  overflow-x: auto;
}

.opciones-botones {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .opciones-botones {
    flex-direction: column;
    align-items: stretch;
  }

  table th, table td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  button[mat-button] {
    font-size: 0.85rem;
  }
}
