<h2 mat-dialog-title>Editar Turno</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Paciente</mat-label>
    <mat-select formControlName="pacienteId">
      <mat-option *ngFor="let paciente of pacientes" [value]="paciente.id">
        {{ paciente.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Odontólogo</mat-label>
    <mat-select formControlName="odontologoId">
      <mat-option *ngFor="let odontologo of odontologos" [value]="odontologo.id">
        {{ odontologo.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Obra Social</mat-label>
    <mat-select formControlName="obraSocialId">
      <mat-option *ngFor="let obra of obrasSociales" [value]="obra.id">
        {{ obra.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="acciones">
    <button mat-raised-button color="primary" type="submit">Guardar</button>

    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar </button>
        
  </div>
</form>
