<div class="contenedor-dialog">
  <div class="header-dialog">
    <h1 class="title">{{ data?.obraSocial ? 'Editar' : 'Agregar' }} Obra Social</h1>
  </div>

  <div class="body-dialog">
    <form [formGroup]="form" class="form-container">
      <div class="input-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" required>
          <mat-error *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
            El nombre es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="footer-dialog">
    <button mat-stroked-button color="warn" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">
      {{ data?.obraSocial ? 'Guardar Cambios' : 'Agregar' }}
    </button>
  </div>
</div>
