
<div class="container">


<h2 mat-dialog-title>Detalle del Turno</h2>

<div mat-dialog-content class="detalle-container">
  <div class="detalle-item">
    <span class="etiqueta">Fecha:</span>
    <span>{{ turno.fecha | date: 'dd/MM/yyyy' }}</span>
  </div>

  <div class="detalle-item">
    <span class="etiqueta">Hora:</span>
    <span>{{ turno.horario | slice:0:5 }}</span>
  </div>

  <div class="detalle-item">
    <span class="etiqueta">Paciente:</span>
    <span>{{ paciente?.nombre  ?? 'No asignado' }}  {{ paciente?.apellido  }}</span>
  </div>

  <div class="detalle-item">
    <span class="etiqueta">Odontólogo:</span>
    <span>{{ odontologo?.nombre ?? 'No asignado' }}</span>
  </div>

  <div class="detalle-item">
    <span class="etiqueta">Obra Social:</span>
    <span>{{ obraSocial?.nombre ?? 'No asignada' }}</span>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button (click)="cerrar()" mat-raised-button color="primary" type="submit">Cerrar</button>
  <button (click)="editar()" mat-raised-button color="primary" type="submit">Editar</button>
  <button (click)="cancelar()" mat-raised-button color="primary" type="submit">Cancelar turno</button>
</div>

</div>