.sidenav-container {
  height: 100vh;
}

.sidenav-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav {
  width: 300px;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.nav-link {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 1rem;
  font-size: 19px;
  color: #333;
  text-decoration: none;

  .emoji {
    margin-right: 12px;
    font-size: 22px;
    line-height: 1;
    display: inline-block;
  }

  span {
    line-height: 1;
  }

  &.active {
    background-color: rgba(0, 123, 255, 0.1);
    font-weight: 600;
  }
}

.logout-container {
  padding: 1rem;

  .logout-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    color: #dc3545;

    mat-icon {
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba(220, 53, 69, 0.1);
    }
  }
}

.main-toolbar {
  padding: 0 1rem;

  .app-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}

.menu-button {
  display: none;

  @media (max-width: 768px) {
    display: inline-flex;
  }
}

@media (max-width: 768px) {
  .nav-items a.nav-link {
    font-size: 28px;
    padding: 10px;
    justify-content: flex-start;    
  }
   
   .logout-button {
    height: 60px;
    font-size: 20px;
    padding: 0 16px;

    mat-icon {
      font-size: 17px;
    }


  .emoji {
    display: inline-block;
  }

  .label {
    display: inline-block;
  }

  .logout-button {
    justify-content: flex-start;

    .emoji,
    .label {
      display: inline-block;
    }
  }
}
}
