<div class="container">
  <div class="tittle">
    <h2 mat-dialog-title>Nuevo Turno</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="guardar()">

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Paciente</mat-label>

      <mat-select formControlName="pacienteId">
        <mat-select-trigger>
          {{ obtenerTextoPacienteSeleccionado() }}
        </mat-select-trigger>

        <ngx-mat-select-search [formControl]="pacienteFiltroControl" placeholderLabel="Buscar paciente..."
          noEntriesFoundLabel="No se encontraron pacientes">
        </ngx-mat-select-search>

        <mat-option *ngFor="let paciente of pacientesFiltrados" [value]="paciente.id">
          <div class="opcion-paciente">
            <div class="dni">{{ paciente.dni }}</div>
            <div class="nombre">{{ paciente.nombre }} {{ paciente.apellido }}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Odontólogo</mat-label>
      <mat-select formControlName="odontologoId" required>
        <mat-option *ngFor="let odontologo of odontologos" [value]="odontologo.id">
          {{ odontologo.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Obra Social</mat-label>
      <mat-select formControlName="obraSocialId">
        <ngx-mat-select-search [formControl]="obraSocialFiltroControl" placeholderLabel="Buscar obra social"
          noEntriesFoundLabel="No se encontraron coincidencias">
        </ngx-mat-select-search>

        <mat-option *ngFor="let obra of obrasSocialesFiltradas" [value]="obra.id">
          {{ obra.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="obraSocialId?.invalid && (obraSocialId?.dirty || obraSocialId?.touched)">
        La obra social es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- 🔹 Nuevo campo de Observaciones -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Observaciones</mat-label>
      <textarea matInput formControlName="observaciones" rows="3"></textarea>
    </mat-form-field>

    <div class="acciones">
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-raised-button type="button" (click)="cancelar()">Cerrar</button>
    </div>

  </form>
</div>
